.pizza-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 20px;
}

.pizza-item {
    flex: 0 0 30%;
    margin: 20px;
    text-align: center;
}

    .pizza-item img {
        width: 100%;
        height: auto;
    }

    .pizza-item h3 {
        margin-top: 10px;
        margin-bottom: 5px;
    }

    .pizza-item p {
        margin-top: 5px;
        margin-bottom: 5px;
    }

.footer {
    background-color: #333333;
    padding: 20px;
    text-align: center;
    color: white;
}
