body {
    font-family: 'Merriweather', serif;
    background-color: antiquewhite;
    margin:0px;
}

header {
    background-color: #333333;
    width: 100%;
}

.nav {
    display: flex;
    justify-content: center;
}

.nav-link {
    color: white;
    padding: 10px;
}

.main-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}

#promotion {
    display: flex;
    text-align: center;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 80%;
}

#promotion img {
        margin-top: 50px;
        width: 50%;
    }

#promotion h3 {
    margin-top: 20px;
    margin-bottom: 50px;
    }

.pizza-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 20px;
}

.pizza-item {
    flex: 0 0 30%;
    margin: 40px;
    text-align: center;
}

.pizza-item img {
    width: 100%;
    height: 70%;
}

.pizza-item h3 {
    margin-top: 10px;
    margin-bottom: 5px;
}

.pizza-options {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.pizza-options button {
    margin: 5px;
    width: 30%;
}

.footer {
    background-color: #333333;
    text-align: center;
    color: white;
    width: 100%;
    margin: 0;
}

@media (max-width: 768px) {
    header,
    .footer{
        width: 100%;
    }

    .nav {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
    }
    
    .nav-link {
        color: white;
        padding: 10px;
        font-size: 10px;
    }


    #promotion {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    #promotion img {
        margin-top: 50px;
        width: 80%;
        height: auto;
    }

    #promotion h3 {
        margin-top: 20px;
        margin-bottom: 50px;
        font-size: 12px;
    }

    .pizza-item {
        flex: 1 0 70%;
        margin: 20px;
        text-align: center;
        justify-content: center;
    }
    
    .pizza-item img {
        width: 70%;
        height: auto;
    }
    
    .pizza-item h3 {
        margin-top: 10px;
        margin-bottom: 5px;
    }

    .pizza-options{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        width: 100%;
    }

    .pizza-options button{
        width: 30%;
    }
  }

@media (min-width: 768px) and (max-width: 1200px) {
    header,
    .footer{
        width: 100%;
    }

    .pizza-options{
        display: flex;
        flex-direction: row;
        justify-content: center;
        width: 100%;
    }

    .pizza-item {
        flex: 0 0 40%;
        margin: 40px;
        text-align: center;
    }

    .pizza-options button{
        width: 30%;
    }


    }